<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  </div>

<div class="w3-container w3-teal">
<ul>
  <li class="navlink">
    <a routerLink="/addentry">New Entry</a>
  </li>
  <li class="navlink">
    <a routerLink="/home">Home</a>
  </li>
</ul>
</div>


<router-outlet></router-outlet>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
