/* ul:
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */

/* .navbar {
    float: left;
  } */



.diffmargin {
/* margin-top: 55px; */
 height: 55px;
}

.navlink {
    display: inline;
    font-size: 1.25em;
    font-weight: bold;
  }

li a {
  /* display: inline; */
  text-decoration: none;
  padding: 12px;
}
li a:active {
  /* display: inline; */
  text-decoration: underline;
  padding: 12px;
}
li a:hover {
  /* display: inline; */
  text-decoration: underline;
  padding: 12px;
}
.bor {
   border-bottom: 5px solid orange;
      border-top: 5px solid orange;
}
